#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp2s0 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$X6wWsbdF873HLDJ8$Il.CH5oeTRDOqG1ed0abpVsyCY7WxsRLhAWgneGcGN/GlKSA1Ueli6bSh.IQNclGtrxvjQsmSYWfSjoMD8XLL1
# System services
services --enabled="chronyd"
# System timezone
timezone America/Sao_Paulo --isUtc
user --groups=wheel --name=xmrbrz --password=$6$6TqIzQSiBEDxTORu$4HYJDnMKXWfbsgj.owWSh7dKwHbyRQAvwCDDYdr9j7zh1RekUPU93GFRBb0et5EZPCxCe4YVAM8X1vEXlL/61/ --iscrypted --gecos="xmrbrz"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part / --fstype="ext4" --ondisk=sda --size=468503
part /boot --fstype="ext4" --ondisk=sda --size=500
part swap --fstype="swap" --ondisk=sda --size=7936

%packages
chrony

%end

